<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">with roles: ADMIN USER</a>
  <a class="navbar-brand text-muted" onclick="window.location.href = '/logout';">Logout</a>
</nav>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 bg-white"
           style="padding-top: 20px;
                        padding-left: 0px;
                        padding-right: 0px;
                        height: 100vh">

        <ul class="nav nav-pills flex-column">
          <div>

            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Admin">Admin</a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                 href="/user">User</a>
            </li>
          </div>

        </ul>
      </div>

      <div class="col-md-10 bg-light"
           style="padding-top: 20px;
                        height: 100vh">

        <h2 class="h2">Admin panel</h2>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#UsersTable">Users table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#NewUser">New User</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="UsersTable" role="tabpanel">

            <header>
              <h5>All users</h5>
            </header>

            <table class="table table-striped">
              <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getSurname()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td><th:block th:each="role : ${user.getRoles()}" th:text="${role.getName()}">&nbsp;</th:block></td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="modal"
                          th:data-target="${'#edit' + user.id}">Edit
                  </button>
                  <div class="modal fade" th:id="${'edit' + user.id}" data-backdrop="static"
                       data-keyboard="false" tabindex="-1" th:aria-labelledby="${'edit' + user.id}"
                       aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="edit-user">Edit user</h5>
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row justify-content-center">
                              <div class="form-user col-md-8">
                                <form th:action="@{/admin/{id}/edit(id=${user.id})}"
                                      th:object="${user}"
                                      th:method="POST"
                                      th:id="${'editForm' + user.id}">
                                  <div class="form-group">
                                    <label for="edit-id"
                                           class="text-center font-weight-bold">ID</label>
                                    <input type="text" class="form-control"
                                           th:value="${user.id}" id="edit-id"
                                           readonly/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-name"
                                           class="text-center font-weight-bold">Name </label>
                                    <input type="text" class="form-control"
                                           name="name" th:value="${user.name}"
                                           id="edit-name"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-surname"
                                           class="text-center font-weight-bold">Surname</label>
                                    <input type="text" class="form-control"
                                           name="surname" th:value="${user.surname}"
                                           id="edit-surname"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-age"
                                           class="text-center font-weight-bold">Age</label>
                                    <input type="text" class="form-control"
                                           name="age" th:value="${user.age}"
                                           id="edit-age"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-email"
                                           class="text-center font-weight-bold">Email</label>
                                    <input type="email" class="form-control"
                                           name="email" th:value="${user.email}"
                                           id="edit-email"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-password"
                                           class="text-center font-weight-bold">Password</label>
                                    <input type="text" class="form-control"
                                           name="password"
                                           th:value="${user.password}"
                                           id="edit-password"/>
                                  </div>
                                  <div class="form-group">
                                    <label for="edit-role"
                                           class="text-center font-weight-bold">Role</label>
                                    <select multiple size="2" name="select-roles"
                                            class="form-control" id="edit-role">
                                      <option th:each="role : ${roles}"
                                              th:text="${role.name}"
                                              class="form-control">
                                      </option>
                                    </select>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Close
                          </button>
                          <input type="submit" th:form="${'editForm' + user.id}"
                                 class="btn btn-primary" value="Edit"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>

                  <button type="button" class="btn btn-danger" data-toggle="modal"
                          th:data-target="${'#delete' + user.id}">Delete
                  </button>
                  <div class="modal fade" th:id="${'delete' + user.id}" data-backdrop="static"
                       data-keyboard="false" tabindex="-1" th:aria-labelledby="${'delete' + user.id}"
                       aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="delete-user">Delete user</h5>
                          <button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="container-fluid">
                            <div class="row justify-content-center">
                              <div class="form-user col-md-8">
                                <form th:action="@{admin/{id}/delete(id=${user.id})}"
                                      th:object="${user}"
                                      th:method="post"
                                      th:id="${'deleteForm' + user.id}">
                                  <div class="form-group">
                                    <label for="delete-id"
                                           class="text-center font-weight-bold">ID </label>
                                    <input type="number" class="form-control"
                                           name="id" th:value="${user.id}"
                                           id="delete-id" readonly/>

                                    <label for="delete-name"
                                           class="text-center font-weight-bold">Name</label>
                                    <input type="text" class="form-control"
                                           name="name" th:value="${user.name}"
                                           id="delete-name" readonly/>

                                    <label for="delete-surname"
                                           class="text-center font-weight-bold">Surname</label>
                                    <input type="text" class="form-control"
                                           name="surname" th:value="${user.surname}"
                                           id="delete-surname" readonly/>

                                    <label for="delete-age"
                                           class="text-center font-weight-bold">Age</label>
                                    <input type="text" class="form-control"
                                           name="age" th:value="${user.age}"
                                           id="delete-age" readonly/>

                                    <label for="delete-email"
                                           class="text-center font-weight-bold">Email</label>
                                    <input type="email" class="form-control"
                                           name="email" th:value="${user.email}"
                                           id="delete-email" readonly/>

                                    <label for="delete-password"
                                           class="text-center font-weight-bold">Password</label>
                                    <input type="text" class="form-control"
                                           id="delete-password" name="password"
                                           th:value="${user.password}" readonly/>

                                    <label for="delete-role"
                                           class="text-center font-weight-bold">Role</label>
                                    <select multiple id="delete-role"
                                            name="select-roles" class="form-control"
                                            readonly>
                                      <option th:each="role : ${roles}"
                                              th:text="${role.name}"></option>
                                    </select>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Close
                          </button>
                          <input type="submit" th:form="${'deleteForm' + user.id}"
                                 class="btn btn-danger" value="Delete"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="border rounded tab-pane fade" id="NewUser" role="tabpanel">
            <header>
              <h4>Add new user</h4>
            </header>
            <div class="bg-white">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="form-user col-md-4">
                    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
                      <div class="form-group">
                        <label for="name" class="text-center font-weight-bold">Name</label>
                        <input type="text" class="form-control" th:field="*{user.getName()}" id="name"/>
                      </div>
                      <div class="form-group">
                        <label for="surname"
                               class="text-center font-weight-bold">Surname</label>
                        <input type="text" class="form-control" th:field="*{user.getSurname()}"
                               id="surname"/>
                      </div>
                      <div class="form-group">
                        <label for="age" class="text-center font-weight-bold">Age</label>
                        <input type="text" class="form-control" th:field="*{user.getAge()}" id="age"/>
                      </div>
                      <div class="form-group">
                        <label for="email" class="text-center font-weight-bold">Email</label>
                        <input type="email" class="form-control" th:field="*{user.getEmail()}"
                               id="email"/>
                      </div>
                      <div class="form-group">
                        <label for="password"
                               class="text-center font-weight-bold">Password</label>
                        <input type="text" class="form-control" th:field="*{user.getPassword()}"
                               id="password"/>
                      </div>
                      <div class="form-group">
                        <label for="select-roles"
                               class="text-center font-weight-bold">Role</label>
                        <select multiple size="2" id="select-roles" name="select-roles"
                                class="form-control">
                          <option th:each="role : ${roles}" th:text="${role.getName()}"
                                  class="form-control"></option>
                        </select>
                      </div>

                      <button type="submit" class="btn btn-success text-center btn-new-user">Add new user</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
</body>
</html>