<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <h2>Welcome to security page</h2>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:utext="${user.getId()}">ID</td>
        <td th:utext="${user.getName()}">Name</td>
        <td th:utext="${user.getLastName()}">Lastname</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:utext="${user.getEmail()}">Email</td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>